@{
  Layout = "_Layout";
}

@using PierresTreats.Models
@model PierresTreats.Models.Treat

<h2>Treat Details</h2>
<hr />
<h3>Treat Name: @Html.DisplayFor(model => model.TreatName)</h3>

@if (@Model.JoinFlavorTreat.Count == 0)
{
  <p>This treat is not associated with any flavor profiles yet!</p>
}
else
{
  <h4>This treat is associated with the following flavor profiles:</h4>
  <ul>
  @foreach (FlavorTreat join in Model.JoinFlavorTreat)
    {
      <li>Flavor: @join.Flavor.FlavorType</li>
      @using (Html.BeginForm("DeleteJoin", "Treats"))
      {
        @Html.Hidden("joinId", @join.FlavorTreatId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<div id="nav-links">
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId }) | @Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId }) | @Html.ActionLink("Add a Flavor Profile", "AddFlavor", new { id = Model.TreatId })</p>
</div>